<!-- sharing.hbs -->
<div class="sharing flex row nowrap gap-x3">
    <h3 title="Share" role="heading" aria-level="3">Share</h3>
    <div class="flex row nowrap gap-half">
        <figure class="flex">
            <figcaption><a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute='true'}}" title="Post this&excl;" target="_blank" onclick="window.open(this.href, 'facebook-share', 'menubar=no, toolbar=no, status=no, width=600, height=800, top=110px, left=280px'); return false;">Facebook</a></figcaption>
        </figure>
        <figure>
            <figcaption><a href="https://twitter.com/share?text&equals;Check&nbsp;out&nbsp;{{#if title}}{{encode title}}&nbsp;on&nbsp;{{encode @site.title}}{{else}}{{encode @site.title}}{{#if @site.description}}&period;&nbsp;{{encode @site.description}}{{/if}}{{/if}}&amp;url&equals;{{url absolute='true'}}{{#if tags}}&amp;hashtags&equals;{{tags separator="&comma;" visibility="public" autolink="false"}}{{/if}}&amp;via&equals;Zawyeh&lowbar;Gallery&amp;ref&lowbar;src&equals;{{@site.url}}" target="_blank" onclick="window.open(this.href, 'twitter-share', 'menubar=no, toolbar=no, status=no, width=700, height=400, top=200px, left=350px'); return false;" title="Tweet this&excl;">Twitter</a></figcaption>{{!-- tweet to us: screen&lowbar;handle --}}
        </figure>
        <figure><!-- https://www.linkedin.com/shareArticle?mini=true&url= -->
            <figcaption><a href="https://www.linkedin.com/sharing/share-offsite/?url={{url absolute='true'}}" title="Post this&excl;" target="_blank" onclick="window.open(this.href, 'linkedin-share', 'menubar=no, toolbar=no, status=no, width=800, height=600, top=169px, left=280px'); return false;" title="Tweet this&excl;">LinkedIn</a></figcaption>
        </figure>
        <figure>
            <figcaption><a href="sms://send?text=Check&nbsp;out&nbsp;{{#if title}}{{encode title}}&nbsp;on&nbsp;{{/if}}{{encode @site.title}}&nbsp;via&nbsp;{{url absolute='true'}}" title="SMS this&excl;" target="_blank">SMS</a></figcaption>
        </figure>
        <figure>
            <figcaption><a href="whatsapp://send?text=Check&nbsp;out&nbsp;{{#if title}}{{encode title}}&nbsp;on&nbsp;{{/if}}{{encode @site.title}}&nbsp;via&nbsp;{{url absolute='true'}}" data-action="{{url absolute='true'}}" title="Send this&excl;" target="_blank">WhatsApp</a></figcaption>
        </figure>
        <figure>
            <figcaption title="Mail this&excl;">{{> "sharing-email"}}</figcaption>
        </figure>
    </div>
</div>
<script>
    const twitter = document.querySelector("a[title='Tweet this!']");
    const hashtags = twitter.href.search("hashtags");
    if (hashtags) {
        let first = twitter.href.slice(0, hashtags),
            second = twitter.href.slice(hashtags);
        second = second.replace(/\%20/g, "_");
        twitter.href = first + second;
    }
</script>