<!DOCTYPE html>
<html {{#match @site.locale "=" "ar"}}lang="{{@site.locale}}" dir="rtl"{{else}}lang="{{@site.locale}}"{{/match}}>
<!-- default.hbs -->
<head>
    <title>{{meta_title}}</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
    <script type="importmap">
        {
            "imports": {
                "nav": "{{asset "js/modules/navigation.mjs"}}"
                }
        }
    </script>
    <script type="module" src="{{asset "js/index.mjs"}}"></script>
    {{ghost_head}}
</head>
<body class="flex">
    <progress class="reading-progress" value="0" max="100" aria-label="Reading progress"></progress>
    <header class="flex">
    {{#if @site.logo}}
        <figure><a href="{{@site.url}}" title="{{@site.title}}"><img src="{{@site.logo}}" alt="{{@site.title}}" /></a></figure>
        {{else}}
        <h1><a href="{{@site.url}}" title="{{@site.title}}">{{@site.title}}</a></h1>
        <h2>{{@site.description}}</h2>
        {{/if}}
        <nav>{{navigation}}</nav>
    </header>
    <main>{{{body}}}</main>
    <footer>
        <div>Dubai</div>
    </footer>
    {{ghost_foot}}
</body>
</html>