<!DOCTYPE html>
<html lang="en">
<!-- default.hbs -->
<head>
    <title>{{meta_title}}</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
    <script type="importmap">
        {
            "imports": {
                "nav": "{{asset "js/modules/navigation.mjs"}}"
                }
        }
    </script>
    <script type="module" src="{{asset "js/index.mjs"}}"></script>
    {{ghost_head}}
</head>
<body>
    <header>
        <h1>First header&hellip;</h1>
    </header>
    <main>
        <header><h2>Second header&hellip;</h2></header>
        <section>{{{body}}}</section>
    </main>
    <footer>
        <p>Site footer&hellip;</p>
    </footer>
    {{ghost_foot}}
</body>
</html>