<!DOCTYPE html>
<html {{#match @site.locale "=" "ar"}}lang="{{@site.locale}}" dir="rtl"{{else}}lang="{{@site.locale}}"{{/match}}>
<!-- default.hbs -->
<head>
    <title>{{meta_title}}</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
    <script type="importmap">
        {
            "imports": {
                "nav": "{{asset "js/modules/navigation.mjs"}}"
                }
        }
    </script>
    <script type="module" src="{{asset "js/index.mjs"}}"></script>
    {{ghost_head}}
</head>
<body class="flex">
    <div class="skipnav"><a href="#maincontent">Skip to main content&hellip;</a>&nbsp;<a href="#sitemap">Skip to footer site map</a></div>
    <header class="site-header flex row space-between gap-x2" role="banner">
        {{#if @site.logo}}
        <figure>
            <a href="{{@site.url}}" title="{{@site.title}}" tabindex="-1">
                <img src="{{@site.logo}}" alt="{{@site.title}}" />
            </a>
        </figure>
        {{else}}
        <h1 role="heading" aria-level="1"><a href="{{@site.url}}" title="{{@site.title}}">{{@site.title}}</a></h1>
        <h2>{{@site.description}}</h2>
        {{/if}}
        <nav class="flex row">{{navigation}}</nav>
        <button type="button" id="menuToggle">&#x2630;</button>
    </header>
    <noscript>
        <p class="flex" style="padding: 2rem; width: 100%;">This web application requires JavaScript</p>
    </noscript>
    <main class="flex" role="main" id="maincontent">{{{body}}}</main>
    {{> "footer"}}
    {{ghost_foot}}
</body>
</html>