{{!< default}}
<!-- home.hbs -->
{{#is "home"}}
<section class="{{post_class}} flex gap-x2">
    {{#get "posts" include="tags" limit="4" filter="featured:true" as |post|}}
    <div class="flex row wrap start-items gap-x2">
        {{#foreach post}}
        <article class="home-post" data-article-index={{@index}} data-article-number={{@number}}>
            <header>
                {{#if feature_image}}
                <figure>
                    <a href="{{url absolute='true'}}" title="{{name}}"><img src="{{img_url feature_image absolute='true'}}" title="{{title}}" alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{#if feature_image_caption}}{{feature_image_caption}}{{else}}{{title}}{{/if}}{{/if}}" /></a>
                </figure>
                {{/if}}
                <h2>{{title}}</h2>
                <p>{{authors separator=" | " prefix="Artist: " autolink="true" from="1" limit="1" visibility="public"}}</p>
            </header>
        </article>
        {{/foreach}}
    </div>
    {{/get}}
</section>
{{#contentFor "head_scripts"}}{{/contentFor}}
{{#contentFor "foot_scripts"}}{{/contentFor}}
{{/is}}