{{!< default}}
<!-- index.hbs -->
{{!-- the standard required template for a list of posts --}}

{{#foreach}}
<p></p>
{{/foreach}}

<!-- In order for a Ghost theme to work, you must make use of the required helpers: {{asset}}, {{body_class}}, {{post_class}}, {{ghost_head}}, {{ghost_foot}}. -->