{{!< default}}
<!-- page.hbs -->
{{#post}}
<progress class="reading-bar" value="0" max="100" aria-label="Reading progress"></progress>
<article class="{{post_class}}">
    <header tabindex="0">
        <h2 role="heading" aria-level="2">{{title}}</h2>
    </header>
    {{#if feature_image}}
    <figure tabindex="0">
        <img src="{{img_url feature_image absolute='true'}}" title="{{title}} &dash; {{@site.title}}" alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}" onerror="this.style.opacity='0';" />
        <figcaption>{{#if feature_image_caption}}{{feature_image_caption}}{{else}}{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}} &dash; {{@site.title}}{{/if}}{{/if}}</figcaption>
    </figure>
    {{/if}}
    <div class="flex start-items gap-x1" tabindex="0">{{content}}</div>
    <footer class="footer-{{post_class}} flex">
        <aside class="flex" tabindex="0">{{> "sharing"}}</aside>
    </footer>
</article>
{{/post}}